@import url(normalize.css);
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

body .table-layout {
  width: 100%;
  height: 100vh;
  display: contents;
}

body .table-layout .header {
  width: 100%;
  height: 80px;
  background: black;
}

body .table-layout .content-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

body .table-layout .footer {
  width: 100%;
  height: 100px;
  background: black;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  html, body {
    height: 100%;
  }
  .table-layout {
    width: 100%;
    height: 100%;
    display: table;
  }
  .header, .footer {
    display: table-row;
    height: 1px;
  }
}
